<!DOCTYPE html>
<html>
  <head>
    <title>Boozefolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'top' %>
    <%= stylesheet_link_tag 'bubble' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5ZYBBZHS1W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5ZYBBZHS1W');
    </script>
  </head>

  <body>
    <div class="h-screen prose">
      <div class="box">
        <div class="mb-10">
          <h2 class="m-4"><%= t('defaults.app_name') %></h2>
          <h3 class="font-zen flex justify-center"><%= t('defaults.catch_copy1') %></h3>
          <script src="https://accounts.google.com/gsi/client" async defer></script>
          <div id="g_id_onload"
              data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
              data-login_uri="http://localhost:3000/google_login_api/callback"
              data-auto_prompt="false">
          </div>
          <div class="g_id_signin flex justify-center bg-yellow-50"
              data-type="standard"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="rectangular"
              data-logo_alignment="left">
          </div>
        </div>
        <div class="font-noto">
          <h4 class="m-4 font-noto text-stone-600"><%= t('defaults.catch_copy2') %></h4>
        </div>
        <div class="font-noto">
          <h4 class="m-4 font-noto text-stone-600"><%= t('defaults.catch_copy3') %></h4>
        </div>
        <div class="font-noto">
          <h4 class="m-4 font-noto text-stone-600"><%= t('defaults.catch_copy4') %></h4>
        </div>
        <div class="font-noto">
          <h4 class="m-4 font-noto text-stone-600"><%= t('defaults.catch_copy5') %></h4>
        </div>
        <div class="font-noto">

        </div>
        <div class="mt-10">
          <p class="font-mono text-teal-500 flex justify-center"><%= t('defaults.cta') %></p>
          <script src="https://accounts.google.com/gsi/client" async defer></script>
          <div id="g_id_onload"
              data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
              data-login_uri="http://localhost:3000/google_login_api/callback"
              data-auto_prompt="false">
          </div>
          <div class="g_id_signin flex justify-center bg-yellow-50"
              data-type="standard"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="rectangular"
              data-logo_alignment="left">
          </div>
        </div>
        <div class="wave -one"></div><!--二つのクラスを持つ波-->
        <div class="wave -two"></div><!--二つのクラスを持つ波-->
        <div class="wave -three"></div><!--二つのクラスを持つ波-->
        <div class="move"><div class="item shake"></div></div>
      </div>
    </div>
  </body>
</html>