<!DOCTYPE html>
<html>
  <head>
    <title>Boozefolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "top_bubble.js", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Zen+Maru+Gothic:wght@400;500;700&display=swap" rel="stylesheet">



    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5ZYBBZHS1W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5ZYBBZHS1W');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9661295819210095"
     crossorigin="anonymous"></script>

    <!-- serviceWorker -->
    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service_worker.js')
          .then((registration) => {
            console.log('Service Worker registered:', registration);
          })
          .catch((error) => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
    </script>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag('favicon.png') %>
    <link href="<%= image_path("icon180.png") %>" rel="apple-touch-icon" sizes="180x180" type="image/png" />
    <link href="<%= image_path("icon192.png") %>" rel="icon" sizes="192x192" type="image/png" />
  </head>

  <body>
    <div class="h-screen w-screen flex">
      <div class="box">
        <div class="mb-10">
          <h2 class="m-4 text-teal-500"><%= t('defaults.app_name') %></h2>
          <h3 class="font-zen flex justify-center text-stone-800 mt-3"><%= t('defaults.catch_copy1') %></h3>
          <div class="font-zen flex justify-center text-stone-800 mt-2  text-stone-500 text-sm">
            <p class="mr-4">現在のページ数</p>
            <%= Item.count %>
          </div>
          <div class="m-8  font-noto text-stone-600 text-sm">
            <div class="mb-2">
              <p><%= t('defaults.catch_copy2') %></p>
            </div>
            <div class="mb-2">
              <p><%= t('defaults.catch_copy3') %></p>
            </div>
            <div class="mb-2">
              <p><%= t('defaults.catch_copy4') %></p>
            </div>
            <div class="mb-2">
              <p><%= t('defaults.catch_copy5') %></p>
            </div>
          </div>
        </div>
        <div class="mt-32">
          <p class="font-mono text-teal-500 flex justify-center"><%= t('defaults.cta') %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 animate-bounce">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </p>
          <script src="https://accounts.google.com/gsi/client" async defer></script>
          <div id="g_id_onload"
              data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
              data-login_uri="https://boozefolio.herokuapp.com/google_login_api/callback"
              data-auto_prompt="false">
          </div>
          <div class="g_id_signin flex justify-center bg-yellow-50"
              data-type="standard"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="rectangular"
              data-logo_alignment="left">
          </div>
        </div>
        <div class="w-48 m-0"><%= render 'box_boo' %></div>
        <div class="wave -one"></div><!--二つのクラスを持つ波-->
        <div class="wave -two"></div><!--二つのクラスを持つ波-->
        <div class="wave -three"></div><!--二つのクラスを持つ波-->
      </div>
    </div>
    <footer class="footer footer-center p-4 bg-yellow-50 opacity-85 text-xs text-stone-500">
      <div>
        <div>Copyright © 2023 - All right reserved</div>
        <div class="flex flex-row">
          <div><%= link_to t('static_pages.contact.title'), contact_path, class: "mr-2" %></div>
          <div><%= link_to t('static_pages.privacy.title'), privacy_path, class: "mr-2" %></div
          <div><%= link_to t('static_pages.terms.title'), terms_path %></div>
        </div>
      </div>
    </footer>
  </body>
</html>