<div class="<%= message.user == current_user ? 'chat chat-start' : 'chat chat-end' %>">
  <div id="message-area">
    <div class="chat-header opacity-80">
      <%= message.user.name %>
    </div>
    <div class="chat-bubble w-52 md:w-auto">
      <%= message.content %>
    </div>
    <div class="flex flex-row">
      <div class="opacity-70 text-xs"><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      <%= render 'messages/stamp', stamps: @stamps, message: message if message.user != current_user %>
    </div>
    <div class="flex flex-row">
    <% if @active_stamp.present? %>
      <% @active_stamp.each do |active_stamp| %>
        <% if active_stamp.message_id == message.id %>
          <% stamp_count = @stamp_counts[message.id][active_stamp.stamp.id] || 0 %>
          <%= button_to message_stamp_relationships_path(message_id: message.id, stamp_id: active_stamp.stamp.id), remote: true, method: :post, id: active_stamp.stamp.id, class: "stamp-link" do %>
            <div class="flex flex-row text-xs">
              <%= image_tag active_stamp.stamp.image.url, class: "w-6 h-6 m-2", alt: active_stamp.stamp.name %>
              <%= stamp_count %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
<% if message.boo_response.present? %>
  <div class="ai-response chat chat-end">
    <div class="chat-header opacity-80">
      Boo
    </div>
    <div class="chat-bubble w-52 md:w-auto">
      <%= message.boo_response %>
    </div>
    <div class="chat-footer text-xs opacity-50">
      <%= message.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  </div>
<% end %>
