<div data-controller="modal" data-modal-restore-scroll-value="false" data-action="keydown.esc->modal#close" tabindex="-1" class="relative z-10">
  <%= link_to '#', data: { action: 'click->modal#open' }, id: message.id, class:"message-stamp-modal-link" do %>
    <div class="opacity-80 flex flex-row">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ml-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
      </svg>
      <div class="opacity-90 text-xs"><%= t('stamps.index.stamp') %></div>
    </div>
  <% end %>

  <!-- Modal Background -->
  <div class="hidden fixed inset-0 bg-black bg-opacity-80 overflow-y-auto flex items-center justify-center"
    data-modal-target="background"
    data-action="click->modal#closeBackground"
    data-transition-enter="transition-all ease-in-out duration-300"
    data-transition-enter-from="bg-opacity-0"
    data-transition-enter-to="bg-opacity-80"
    data-transition-leave="transition-all ease-in-out duration-300"
    data-transition-leave-from="bg-opacity-80"
    data-transition-leave-to="bg-opacity-0">

    <!-- Modal Container -->
    <div data-modal-target="container" class="absolute inset-x-0 top-0 h-16">
      <!-- Modal Card -->
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8 flex flex-row">
          <% stamps.each do |stamp| %>
            <%= button_to message_stamp_relationships_path(message_id: message.id, stamp_id: stamp.id), remote: true, method: :post, id: stamp.id, class: "stamp-link" do %>
              <%= image_tag stamp.image.url, class: "w-6 h-6 m-2", alt: stamp.name %>
            <% end %>
          <% end %>
        </div>
        <div class="flex justify-end items-center flex-wrap mt-6">
          <button class="btn btn-primary m-2"><%= link_to t('rooms.show.new_stamp_path'), new_stamp_path %></button>
          <button class="btn m-2" data-action="click->modal#close:prevent"><%= t('defaults.cancel') %></button>
        </div>
      </div>
    </div>
  </div>
</div>