<div class="btm-nav">
  <%= link_to items_path, class:"no-underline" do %>
    <%= image_tag("cardboard.svg", class:"w-6 h-6") %>
    <span class="btm-nav-label text-gray-500 text-xs"><%= t('defaults.home') %></span>
  <% end %>
  <%= link_to user_items_path, class:"no-underline" do %>
    <%= image_tag("bottle1.svg", class:"w-4 h-6 ml-2") %>
    <span class="btm-nav-label text-gray-500 text-xs"><%= t('defaults.menu1') %></span>
  <% end %>
  <%= link_to items_searches_path, class:"no-underline", id:"two" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2 text-gray-500 dark:text-gray-400">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span class="btm-nav-label text-gray-500 text-xs"><%= t('defaults.menu2') %></span>
  <% end %>
  <%= link_to items_path, class:"no-underline" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2 text-gray-500 dark:text-gray-400">
    <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
    </svg>
    <span class="btm-nav-label text-gray-500 text-xs"><%= t('defaults.menu3') %></span>
  <% end %>
    <div class="dropdown dropdown-top dropdown-end flex justify-center" tabindex="0" id="three" >
      <%= image_tag("favicon.png", class:"w-6 h-5 ml-2 mb-1") %>
      <label class="btm-nav-label text-gray-500 text-xs"><%= t('defaults.menu4') %></label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><%=  t('defaults.current_user_page_count') %><%= current_user.items.count %></li>
        <li><%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class:"no-underline"  %></li>
        <li><%= link_to t('users.edit.title'), edit_users_path, class:"no-underline" %></li>
        <li><%= link_to t('static_pages.contact.title'), contact_path, class:"no-underline" %></li>
        <li><%= link_to t('static_pages.privacy.title'), privacy_path, class:"no-underline" %></li>
        <li><%= link_to t('static_pages.terms.title'), terms_path, class:"no-underline" %></li>
        <li>
          <button type="button" id="share-btn" class="ml-4 mb-2">
            <%= t('defaults.addhome') %>
          </button>
        </li>
      </ul>
    </div>
</div>
