<script src="https://unpkg.com/@ericblade/quagga2@1.7.4/dist/quagga.min.js"></script>
<%= javascript_include_tag "quagga", "data-turbo-track": "reload", defer: true %>

<div class="mt-8 flex justify-center font-bold text-stone-600"><%= t('.category') %></div>
<div class="grid grid-cols-3 md:grid-cols-6 gap-3 m-2 mt-4">
  <%= link_to t('.beer'), new_item_path(category_id: 1), id: "category-button-1", class: "btn w-28 h-28 category-link" %>
  <%= link_to t('.wine'), new_item_path(category_id: 2), id: "category-button-2", class: "btn w-28 h-28 category-link" %>
  <%= link_to t('.sake'), new_item_path(category_id: 3), id: "category-button-3", class: "btn w-28 h-28 category-link" %>
  <%= link_to t('.shochu'), new_item_path(category_id: 4), id: "category-button-4", class: "btn w-28 h-28 category-link" %>
  <%= link_to t('.whiskey'), new_item_path(category_id: 5), id: "category-button-5", class: "btn w-28 h-28 category-link" %>
  <%= link_to t('.chu_hi'), new_item_path(category_id: 6), id: "category-button-6", class: "btn w-28 h-28 category-link" %>
</div>
<div class="flex justify-center w-screen">
  <div id="my_container" class="items-center">
  <div id="my_inner" class="w-screen rounded-lg text-center mt-10">
    <div class="font-bold text-stone-600"><%= t('.barcord') %></div>
    <div id="my_quagga" class="w-screen flex justify-center ">
      <video class="object-cover h-24"></video>
      <canvas class="w-0 h-0"></canvas>
    </div>
    <div id="my_result" class="w-full text-sm text-center">
      ***
    </div>
    <div class="link">
      <div id="jan_codo_suggested-items" class="text-sm flex flex-col mb-32"></div>
    </div>
  </div>
</div>
