<div>
  <%= link_to "ビール", new_item_path(category_id: 1), id: "category-button-1", class: "btn w-20 h-20 category-link" %>
  <%= link_to "ワイン", new_item_path(category_id: 2), id: "category-button-2", class: "btn w-20 h-20 category-link" %>
  <%= link_to "日本酒", new_item_path(category_id: 3), id: "category-button-3", class: "btn w-20 h-20 category-link" %>
  <%= link_to "焼酎", new_item_path(category_id: 4), id: "category-button-4", class: "btn w-20 h-20 category-link" %>
  <%= link_to "ウイスキー", new_item_path(category_id: 5), id: "category-button-5", class: "btn w-20 h-20 category-link" %>
  <%= link_to "チューハイ", new_item_path(category_id: 6), id: "category-button-6", class: "btn w-20 h-20 category-link" %>
</div>
