<%= form_with model: item, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="text-stone-600">
    <div>
      <h4 class="text-stone-600">
        <div class="badge badge-error text-stone-600"><%= t('items.new.required') %></div>
        <%= f.label :category_id %>
      </h4>
      <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: true }, class: "select select-bordered  select-success w-full max-w-xs", id: "item_category_id" %>
    </div>
    <div>
      <h4 class="text-stone-600">
        <div class="badge badge-error text-stone-600"><%= t('items.new.required') %></div>
        <%= f.label :name %>
      </h4>
      <%= f.text_field :name, class: "input input-bordered input-success input-sm w-full max-w-xs" %>
    </div>
    <div class="number-input">
      <h4 class="text-stone-600">
        <div class="badge badge-error text-stone-600"><%= t('items.new.required') %></div>
        <%= f.label :alcohol_content %>%
      </h4>
      <div>
        <%= f.number_field :alcohol_content, in: 1.0..100.0, step: 0.1, class: "input input-bordered input-success", id: "item_alcohol_content" %>
      </div>
    </div>
    <div>
      <h4 class="text-stone-600">
        <div class="badge badge-error text-stone-600"><%= t('items.new.required') %></div>
        <%= f.label :size %>
      </h4>
      <%= f.text_field :size, in: 1..4000, class: "input input-bordered input-success input-sm max-w-xs", id: "item_size" %>ml
    </div>
    <%= f.fields_for :photos do |photo_fields| %>
      <div>
        <h4 class="text-stone-600">
          <div class="badge badge-ghost text-stone-400"><%= t('items.new.any') %></div>
          <%= photo_fields.label :image %>
        </h4>
        <%= photo_fields.file_field :image, class: "file-input file-input-bordered file-input-success file-input-sm w-full max-w-xs", accept: 'image/*', id: "item_photos_attributes_0_image" %>
        <%= label_tag "item_photos_attributes_0_image" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-2 text-stone-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z" />
            <%= photo_fields.file_field :image, accept: 'image/*', capture: "camera", id: "item_photos_attributes_0_image" %>
          </svg>
        <% end %>
      </div>
      <div>
        <%= image_tag item.image.url, id: 'preview', size: '200x100' %>
      </div>
    <% end %>
    <div>
      <h4 class="text-stone-600">
        <div class="badge badge-ghost text-stone-400"><%= t('items.new.any') %></div>
        <%= f.label :maker %>
      </h4>
      <%= f.text_field :maker, class: "input input-bordered input-success input-sm w-full max-w-xs" %>
    </div>
    <div>
      <h4 class="text-stone-600">
        <div class="badge badge-ghost text-stone-400"><%= t('items.new.any') %></div>
        <%= f.label :country_of_origin %>
      </h4>
      <%= f.select :country_of_origin, Item.country_of_origins_i18n.invert, { include_blank: "指定なし" },  class: "select select-bordered select-success w-full max-w-xs" %>
    </div>
    <div>
      <h4 class="text-stone-600">
        <div class="badge badge-ghost text-stone-400"><%= t('items.new.any') %></div>
        <%= f.label :content %>
      </h4>
      <%= f.rich_text_area :content, rows:"10", class: "overflow-auto" %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-success mt-4 mb-28' %>
<% end %>