<%= form_with model: item, url: { action: "create"}, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="text-stone-600">
    <h4 class="text-stone-600"><%= f.label :category_id %></h4>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: true }, class: "bselect select-success w-full max-w-xs", id: "item_category_id" %>
    <h4 class="text-stone-600"><%= f.label :name %></h4>
    <%= f.text_field :name, class: "input input-bordered input-success w-full max-w-xs" %>
    <h4 class="text-stone-600"><%= f.label :alcohol_content %></h4>
    <div class="range-slider-input">
      <%= f.range_field :alcohol_content, in: 1.0..100.0, step: 0.5, class: "range range-secondary range-xs", id: "item_alcohol_content", data: { value_display: "#value-display" } %>
      <button class="range-increment">+</button>
      <button class="range-decrement">-</button>
    </div>
    <div id="value-display" class="badge badge-success w-10"></div>
    <h4 class="text-stone-600"><%= f.label :size %></h4>
    <%= f.text_field :size, in: 1..4000, class: "input input-bordered input-success max-w-xs", id: "item_size" %>ml
    <%= f.fields_for :photos do |photo_fields| %>
      <div>
        <h4 class="text-stone-600"><%= photo_fields.label :image %></h4>
        <%= photo_fields.file_field :image, class: "file-input file-input-bordered file-input-success w-full max-w-xs", accept: 'image/*', capture: "camera", id: "item_photos_attributes_0_image" %>
        <%= photo_fields.hidden_field :image_cache %>
      </div>
      <div>
        <%= image_tag item.image.url, id: 'preview', size: '200x100' %>
    <% end %>
    <h4 class="text-stone-600"><div class="badge badge-ghost text-stone-400">任意</div><%= f.label :flavor %></h4>
    <%= f.text_field :flavor, class: "input input-bordered input-success w-full max-w-xs" %>
    <h4 class="text-stone-600"><div class="badge badge-ghost text-stone-400">任意</div><%= f.label :maker %></h4>
    <%= f.text_field :maker, class: "input input-bordered input-success w-full max-w-xs" %>
    <h4 class="text-stone-600"><div class="badge badge-ghost text-stone-400">任意</div><%= f.label :country_of_origin %></h4>
    <%= f.text_field :country_of_origin, class: "input input-bordered input-success w-full max-w-xs" %>
    <h4 class="text-stone-600"><div class="badge badge-ghost text-stone-400">任意</div><%= f.label :note %></h4>
    <%= f.text_area :note, rows:"5", class: "textarea textarea-success w-11/12" %>
  </div>
  <%= f.submit '投稿', class: 'btn btn-success mt-2 w-24' %>
<% end %>