<h1>Items#new</h1>
<%= form_with model: @item,  local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.text_field :name, class: "block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
  <div>
    <%= f.label :image, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.file_field :image, class: "block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400", accept: 'image/*' %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div>
    <%= image_tag @item.image.url, id: 'preview', size: '300x200' %>
  </div>
  <%= f.submit t('defaults.post'), class: 'text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2' %>
<% end %>