<!DOCTYPE html>
<html>
  <head>
    <title>Boozefolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5ZYBBZHS1W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5ZYBBZHS1W');
    </script>
  </head>

  <body>
    <div class="flex justify-center z-0 h-screen w-screen">
      <div class="boxNew">
        <div class="w-full flex justify-center top-10 ">
          <h2 class="text-teal-500"><%= t('.message1') %></h2>
          <h3 class="font-zen text-stone-800"><%= t('.message2') %></h3>
        </div>
        <% if @new_item %>
          <% if @new_item.photos.present? %>
            <%= image_tag @new_item.photos.first.image.url, class:"w-50 h-100 flex absolute justify-center block rounded-lg z-50 bg-cyan-500 shadow-lg shadow-cyan-500/50 z-40" %>
          <% else %>
            <%= @new_item.name %>
          <% end %>
        <% end %>
        <div class="waveNew -one z-30"></div><!--二つのクラスを持つ波-->
        <div class="waveNew -two z-20"></div><!--二つのクラスを持つ波-->
        <div class="waveNew -three z-10"></div><!--二つのクラスを持つ波-->
        <div class="z-40 absolute bottom-10 w-full flex justify-center">
          <%= link_to t('.index'), items_path, class: 'btn m-2 z-40', id: 'next-button' %>
          <%= link_to t('.new'), new_item_path, class: 'btn btn-success m-2 z-40', id: 'next-button' %>
        </div>
        <div class="moveNew"><div class="itemNew shakeNew"></div></div>
      </div>
    </div>
    <script>
      document.getElementById('next-button').addEventListener('click', function() {
        sessionStorage.removeItem('newItemID');
      });
    </script>
  </body>
</html>