<div class="m-4">
  <%= link_to '新しいカテゴリーを登録する', new_category_path, class:"text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"  %>
</div>

<h1 class="text-xl bg-yellow-400 pl-10">categories</h1>
<div class="mt-4 mb-20 pl-10">
  <% if @categories.present? %>
    <% @categories.each do |category| %>
      <li class="mb-1"><%= category.name %>
      <p><%= category.default_size %>ml</p>
      <p><%= category.default_alcohol_content %>%</p>
      <%= link_to '編集', edit_category_path(category), class:"text-xs text-pink-400 ml-10" %>
      <%= link_to '削除', category_path(category), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"text-xs text-pink-400 ml-10" %>
      </li>
    <% end %>
  <% else %>
    <p>カテゴリがありません</p>
  <% end %>
</div>

